*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

.mainContainer{
    display: grid;
    width:auto;
    margin:auto;
    grid-template-columns:repeat(4, 1fr);
  
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft"

}

header{
    grid-area: hd;
    height: 70px;
    background-color: #152224; 

}

.Me {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
    color: aliceblue;
    text-shadow: 2px 2px 0 brown;
    
}

.navbar button {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
    background-color: rgb(204, 178, 152);
    border-radius: 5px;
    border:4px solid rgb(57, 57, 80);
    
    
}

.navbar button a {
text-decoration: none;
color:inherit;

}




.main{
    padding-top: 10px;;
    grid-area: main;
    background-color:rgb(88, 80, 72);
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9b34251-7233-4daf-85fe-61977a6e709e/d33giex-532b993e-6f49-4889-b669-611c0c105de5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9hOWIzNDI1MS03MjMzLTRkYWYtODVmZS02MTk3N2E2ZTcwOWUvZDMzZ2lleC01MzJiOTkzZS02ZjQ5LTQ4ODktYjY2OS02MTFjMGMxMDVkZTUuZ2lmIn1dXX0.fN2PQFe31wu9AST57H82pei8Y7QVNPg_KwM3moQM-OQ);
    background-repeat: no-repeat;
    Background-size:cover;
}

img {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border:4px solid rgb(57, 57, 80);
    border-radius: 360px;
    
}



.box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    /* Add shadows to create the "card" effect */
    grid-area: main;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border:4px solid rgb(57, 57, 80);
    border-radius: 15px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgb(204, 178, 152);
    transition: 0.3s;
    width: 300px;
    height:400px;
    justify-content: space-between;
  }

.container_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.container_2 h4{
    margin-top: 10px;
    color: rgb(89, 50, 50);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.container_2 p{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}












.footer{
    grid-area: ft;
    background-color: #152224; 


}

.fa {
    padding: 20px;
    font-size: 200px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-linkedin {
    text-decoration: none;
    color: white;
    margin: center;

    

  }
  
  .fa-github {
    text-decoration: none;
    color: white;
    margin: center;
    

  }
