

.container{
    display:grid;
    width: auto;
    margin:auto;
    grid-template-columns: 20px;
    grid-template-rows: 70px 500px 100px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft"
    
}

.tabs {
    
    display: flex;
    background-color: #238994; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.box{
    border: 2px solid black;

}
.header{
    grid-area: hd;
    background-color: rgb(19, 151, 138);
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

.left {
    grid-area:sd;
    background-color:blue;


}
.main{
    grid-area: main;
    background-color:tan;
}

#one{
    

}

.footer {

    grid-area: ft;
    background-color: rgb(19, 151, 138);
    
}

.
