

.container{
    display:grid;
    width: auto;
    margin:auto;
    grid-template-columns: 20px;
    grid-template-rows: 70px 500px 100px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft"
    
}

.tabs {
    
    display: flex;
    background-color: #152224; 
    font-family: 'Press Start 2P', cursive;
    border: none;
    color: white;
    padding: 15px 32px;
    align: center;
    text-decoration: none;
    
    

}

.box{
    border: 2px solid rgb(220, 208, 208);
    border-radius: 5px;

}
.header{
    grid-area: hd;
    background-color: #152224; 
    display: flex;
    justify-content: flex-end;
    flex-direction:row;

    
}

.left {
    grid-area:sd;
    background-color:rgb(52, 52, 118);


}
.main{
    grid-area: main;

    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9b34251-7233-4daf-85fe-61977a6e709e/d33giex-532b993e-6f49-4889-b669-611c0c105de5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9hOWIzNDI1MS03MjMzLTRkYWYtODVmZS02MTk3N2E2ZTcwOWUvZDMzZ2lleC01MzJiOTkzZS02ZjQ5LTQ4ODktYjY2OS02MTFjMGMxMDVkZTUuZ2lmIn1dXX0.fN2PQFe31wu9AST57H82pei8Y7QVNPg_KwM3moQM-OQ);
    background-color:rgb(186, 177, 165);
}

#one{
    

}

.footer {

    grid-area: ft;
    background-color: #152224; 
    
}

