
header {
    grid-area: hd;
    height: 70px;
    background-color: #152224;
  }
  
  .Me {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", cursive;
    font-size: x-large;
    color: aliceblue;
    text-shadow: 2px 2px 0 brown;
  }
  
  .navbar button {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    font-family: "Press Start 2P", cursive;
    padding: 10px;
    background-color: rgb(204, 178, 152);
    border-radius: 5px;
    border: 4px solid rgb(57, 57, 80);
  }
  
  .navbar button a {
    text-decoration: none;
    color: inherit;
  }
  